body {
    background-color: lightcyan;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
    /* Section Titles*/
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-style: solid;
}

h2 {
    /* Section Titles*/
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    
}

h3 {
    /* Section Titles*/
    color: darkgreen;
    font-family: 'Arial';
}

h4 {
    /* Section Titles*/
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

h5 {
    /* Section Titles*/
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

p3 {
    /* Paragraph*/
    color: red;
    font-family: 'Times New Roman';
    font-size: 31pt;
}

p1 {
    /* Paragraph*/
    color: black;
    font-family: 'Times New Roman';
    font-size: 12pt;
}

p2 {
    /* PDF link*/
    color: blue;
    font-family: Arial;
    font-size: 25pt;
}

footer {
    color: black;
    font-family: 'Times New Roman';
    font-size: 40px;
}

header {
    color: black;
    font-family: 'Times New Roman';
    font-size: 100px;
}
